@import '../global.css';

/* Navbar */

#navbar {
	background-color: var(--soft-gray);
	height: 100px;
	display: flex;
	align-items: center;
}

#navbar .content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#navbar .left-nav {
	display: flex;
	align-items: center;
	gap: 2rem;
}

#navbar .menu {
	gap: 1rem;
}

#navbar .menu li a {
	font-weight: 500;
	color: var(--grey);
}

#navbar .menu li a:hover {
	color: var(--black);
}

#navbar .register-login {
	gap: 1rem;
}

#navbar .register-login li:nth-child(1) a {
	color: var(--bright-red);
	font-weight: 500;
	text-transform: capitalize;
}

/* Main Banner */

#main-banner {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#main-banner .content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15rem 0;
	flex-direction: column;
	gap: 3rem;
}

#main-banner .banner-header {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

#main-banner .banner-header h1 {
	font-size: 2.5rem;
	font-weight: 600;
	text-transform: capitalize;
	color: var(--grey);
}

#main-banner .banner-header p {
	font-size: 1rem;
	font-weight: 500;
	color: var(--black);
	text-transform: lowercase;
}

#main-banner form {
	position: relative;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

#main-banner form input {
	background-color: var(--soft-gray);
	padding: 0.7rem 0.7rem 0.7rem 3rem;
	font-size: 1rem;
}
#main-banner form i.fa-solid {
	position: absolute;
	color: var(--bright-red);
	left: 0.7rem;
	font-size: 1.1rem;
}

/* Categories Bar */

#categories-bar {
	margin: 3rem 0;
}

#categories-bar .categories {
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

#categories-bar .categories a {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

#categories-bar .categories a img {
	height: 80px;
	width: 80px;
	object-fit: cover;
	border-radius: 50%;
	filter: drop-shadow(1px 1px 15px #2225);
	transition: all 0.2s ease-in-out;
}

#categories-bar .categories a.active img {
	padding: 0.1rem;
	border: 3px solid var(--teal);
}

#categories-bar .categories a:hover img {
	transform: scale(1.1);
}

#categories-bar .categories a span {
	font-weight: 600;
	text-transform: capitalize;
	color: var(--dark-teal);
	font-size: 1rem;
}

/* Footer */

#footer {
	background-color: var(--soft-gray);
}
